<table class="table" id="<%= dom_id post %>">
  <tr>
    <td><strong>Name</strong></td>
    <td><%= post.name %></td>
  </tr>

  <tr>
    <td><strong>Title</strong></td>
    <td><%= post.title %></td>
  </tr>
</table>

<p><%= post.body %></p>




